{% load static %}
<html>
    <head>
        <title>Google(Text-Speech)</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
<h2><a href="http://127.0.0.1:8000/g/">Google(Text-Sppech)</a></h2><br><br>
<p></p><br>This project provides speech of an appropriate data which has been extracted from json file after scraping.
Here is link for project: &nbsp <a href="https://github.com/Poulami96/Google-Text-to-Speech-.git">Google(Text-Sppech) project</a>

</body>
</html>

