{% load static %}
<html>
    <head>
        <title>Web Scraping(Python)</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
<h2><a href="http://127.0.0.1:8000/web/">Web Scraping(Python)</a></h2><br><br><br>
<p>This project contain advanced scraping of site.This has been done by using selenium in python.

Selenium is used for coarse scraping.We can then write a python script to control the browser interactions automatically such as link clicks and form submissions. However, in addition to all this selenium comes in handy when we want to scrape data from javascript generated content from a webpage.

Selenium requires a driver to interface with the chosen browser.Firefox, for example, requires geckodriver, which needs to be installed .</p><br>
Here is link for project: &nbsp <a href="https://github.com/Poulami96/Real_Web.git">Web Scraping(Python) project</a>
</body>
</html>
